tmp
images
dl/
conf.mk
**/squashfs-root/
**/orig/
**/output*/
**/build/
**/build-*/
**/build_*/
**/\.*
!**/\.gitignore
**/filesystem.image
**/release*/
**/staging*/
**/*.orig
**/*_BACKUP_*
**/*_BASE_*
**/*_LOCAL_*
**/*_REMOTE_*
