[Service]
ExecStart=/etc/init.d/S93-ffimage
ExecStop=/usr/local/etc/ffshutdown
Type=oneshot
After=ffinit.service
RemainAfterExit=yes
[Install]
WantedBy=ffritz.target
